.container {
  background-color: rgb(221, 225, 225);
  text-align: center;
  width: 100vh;
  
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container h1 {
  color: rgb(182, 141, 151);
}

li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: xx-large;
}

i {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: red;
}

.counter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  bottom: 0px;
  left: 0px;
}
